body {
    background-color:blanchedalmond;
}
h1, .olist{
    background-color:darkgoldenrod;
    color:rgb(249, 237, 16);
}
.olist {
    background-color:chocolate;
}
.ulfont {
    font-family:cursive;
}
div {
    text-align: center;
}